CONFIG_TARGET_NAZE=y
CONFIG_TARGET_BOARD_IDENTIFIER="NAZE"
CONFIG_GYRO=y
CONFIG_ACC=y
CONFIG_BARO=y
CONFIG_MAG=y
CONFIG_BEEPER=y
CONFIG_SONAR=y
CONFIG_USE_UART1=y
CONFIG_USE_UART2=y
CONFIG_USE_UART3=y
CONFIG_USE_SOFTSERIAL1=y
CONFIG_USE_SOFTSERIAL2=y
CONFIG_LED_STRIP=y
CONFIG_GPS=y
CONFIG_GTUNE=y
CONFIG_BLACKBOX=y
CONFIG_CONFIG_TELEMETRY=y
CONFIG_SERIAL_RX=y
CONFIG_USE_SERVOS=y
CONFIG_USE_CLI=y
CONFIG_SPEKTRUM_BIND=y
CONFIG_USE_SERIAL_4WAY_BLHELI_INTERFACE=y
CONFIG_HAS_VOLTAGE_DIVIDER=y
CONFIG_DEFAULT_RX_FEATURE FEATURE_RX_SERIAL=y
CONFIG_DEFAULT FEATURES FEATURE_MOTOR_STOP=y
CONFIG_HARDWARE_BIND_PLUG=y
